<img class="section_hero" src="images/Philippa_pics/SECTION_HEROES/Articles/art1.jpg" width="700" height="313" />
<h2>Alignment</h2>
<p>Iyengar Yoga is often referred to as the Yoga of alignment as scrupulous attention is paid towards meticulous placing of the body in different asanas. This is known as alignment in the asanas.  However to see the asanas as mere physical alignment would be missing the point. Yoga philosophy points us towards our inner alignment, but to be in tune with one’s inner awareness (the barometer of what is right and natural) one first has to go from the outside in. When the poses become effortless and are done integrally the alignment naturally comes.
</p>
<p>We need to move towards our inner voice, which tells us where our natural alignment lies, and this can be used as a wider indication of our well being.  So often we align ourselves with the outside world; we feel dependent on external factors, upon the opinions of others or on material possessions. When we are truly aligned all this dependence upon the outside world for our happiness falls away.  True alignment comes from within.
</p>
<cite>© Philippa Frisby</cite>