<img class="section_hero" src="images/Philippa_pics/SECTION_HEROES/Ohm.jpg" width="700" height="313" />
<h2>AUM the sacred syllable</h2>
<p>Om or Aum is a sacred and mystical syllable in Hinduism Jainism and Buddhism. There is no other mantra (word) as powerful as this mystic syllable.
</p>
<p>The Latin word Omne and the Sanskrit word Aum are both derived from the same root meaning all. Aum signifies omnipresent and omniscient.  Another word for Aum is pranava derived from the root nu meaning to praise.
</p>
<p>Here is an extract from the Mundakopanisad devoted to explaining what the sacred syllable means.
</p>
<p>“Taking as a bow the great weapon of the Upanisad, one should put upon it an arrow sharpened by meditation. Stretching it with a thought directed to the essence of That, penetrate the Imperishable as the mark, my friend. The mystic syllable AUM is the bow. The arrow is the Self (Atma). Brahman is the target. By the undistracted man is It penetrated. One should come to be in It, as the arrow in the mark.”
</p>
<p>The symbol AUM is composed of three syllables, specifically the letters A, U, M. and when written down it has a shape like a crescent and a dot on its top. AUM as a symbol represents Divinity, which is beyond words .It represents all creation and the creator.  It represents Brahman from whom originated the universe and to whom it dissolves into and merges at end. It represents the living spirit as part of the divine spirit.
</p>
<p>Exploring the meaning of the three syllables: The Letter A symbolises the conscious or waking state, the letter U the dream state and the letter M the dreamless state. Aum as a symbol represents the fourth state, which combines all these states and surpasses them. This is the state of Samadhi.
</p>
<p>A, U and M represent  speech, mind and the breath of life. A, U and M also represent the absence of desire, fear and anger and  and past, present and future.
</p>
<p>Continuing the exploration of the meaning of the three syllables A, U and M denote the three stages of yogic discipline, asana, pranayama and pratyahara. They represent the triad of gods in the Hindu pantheon Brahma the Creator, Vishnu the Maintainer and Siva the Destroyer of the Universe.
</p>
<p>Finally A, U and M stand for mantra ‘Tat Twam Asi’ (‘That Thou Art’), the realisation of man’s divinity within himself.
</p>
<cite>© Philippa Frisby</cite>