<img class="section_hero" src="images/Philippa_pics/SECTION_HEROES/Articles/art3.jpg" width="700" height="313" />
<h2>Meditation In Yoga!</h2>
<p>I taught my last lesson of the term last night working towards introducing elementary pranayama (the yogic art of breathing) .One of my students had asked me when he was going to learn meditation. He is always eager to progress to the next level but I said preparation is the key to progression and success. My student said, “Sometimes an hour passes where my mind hasn’t wondered and is solely concentrated on what I am doing I suppose that could be called meditation.”
</p>
<p>Meditation is present in Iyengar Yoga but not in the traditional sense of the word meditation. BKS Iyengar believes that through pranayama and asana combined, the practitioner can find a form of moving meditation. BKS Iyengar also believes that meditation is not something that can be learnt because it is a state of mind; it comes naturally as a result of maturity in your practise.
</p>
<p>I have been taught in the Iyengar Method where we need to prepare the body first through asana before we can even attempt pranayama (breath control) which brings the mind and senses under control and makes one receptive to initial states of meditation. Pranayama is taught first lying down then sitting, as sitting is more difficult. In a Relaxation class the asana practise has a powerful cumulative effect achieved by practising  asanas in particular sequences and holding the postures for considerable lengths of time to let the effects of the poses penetrate deeper within the individual.  The fruits of this are heightened sensitivity in the mind, body and spirit to allow the person to be receptive to the subtleties at play within and the dynamic at work between the breath and the mind. 
</p>
<cite>© Philippa Frisby</cite>