<img class="section_hero" src="images/Philippa_pics/SECTION_HEROES/Articles/art6.jpg" width="700" height="313" />
<h2>Prayers And Chanting</h2>
<h3>The Invocation to Patanjali</h3>
<p>I have just been in India again studying yoga . It is unthinkable for a class to start without chanting Aum and then  reciting the invocation and prayer to Patanjali. It is thanks to Patanjali that we all practise yoga today as he made the ancient Indian tradition of yoga known  through his work ‘the yoga sutras of Patanjali.’  BKS Iyengar then went on to make the sutras penetrable and intelligible to the ordinary person in his book ‘Light on the Yoga Sutras of Patanjali ‘. Iyengar has made it possible for everyone to experience the wisdom of the sutras in every day life through dedicating his life to the study of yoga.
</p>
<p>Yoga is a spiritual practise.  In Yoga we access the mind primarily through the yoga asanas  through the body . The body is a vehicle to access the subtler parts of our being . Many people practise yoga  on one level for the body by the body . Chanting aum at  the beginning of a  class and reciting the invocation to Patanjali creates a separation between the outward focus of the normal day and the inward focus of the yoga practise .
</p>
<h3>Meaning of Invocation to Patanjali</h3>
<p>
<em>yogena cittasya padena vacam<br />
malam sarirasya ca vaidyakena<br />
yopakarottam pravaram muninam<br />
patanjalim pranjaliranato’smi<br />
abahu purusakaram<br />
sankha cakrasi dharinam<br />
sahasra sirsam svetam<br />
pranamami patanjalim</em>
</p>
<p>Let us bow before the noblest of sages, Patanjali, who gave yoga for serenity and sanctity of mind, grammar for clarity and purity of speech, and medecine for perfection of health.<br />
Let us prostrate before Patanjali, an incarnation of Adisesa whose upper body has a human form, whose arms hold a conch and a disc, and who is crowned by a thousand-headed cobra.<br />
Next time you are in a class where there happens to be is chanting and a prayer  you may pause to reflect upon it’s significance and the meaning of the words.</p>
<cite>© Philippa Frisby</cite>