<img class="section_hero" src="images/Philippa_pics/SECTION_HEROES/Articles/art4.jpg" width="700" height="313" />
<h2>Sanskrit Proverbs and Sayings</h2>
<p><em>Red is the sun when rising,<br />
And also when setting,<br />
The great maintain their composure<br />
Both in prosperity and calamity. Sanskrit saying <br /> </em></p>

<p>This is a Sanskrit proverb of which there are many and in my yoga column and articles I will be writing about some of them which derive from the important spiritual and religious texts: The Vedas, The Puranas and the Upanisads, the great poetical works such as the Sanskrit epic poem The Ramayana and the other Sanskrit epic The Mahabharata.
</p>
<p>Proverbs, wise sayings exist within all world cultures found within their ancient texts.  Proverbs is a book of the Old Testament containing proverbs ascribed to Solomon King of Israel c970-930bBC who was renowned for his wisdom.
</p>
<p>This is a brief description of the origins of Sanskrit and how it is used today.
</p>
<p>Sanskrit is a historical Indo-Aryan Language, the language used in Hindu Temples in religious ceremonies and rituals  and a literary and scholarly language in Jainism and Buddhism. Today it is catalogued as one of t22 languages of India and is an official language of the state of Uttarankand.
</p>
<p>Classical Sanskrit is the standard script as observed in the grammar of Panini in the 4th century BCE. It’s position in the cultures of Greater India is akin to that of Latin and Greek in Europe and it has significantly influenced most modern languages of the Indian subcontinent, particularly in India, Pakistan, Sri Lanka and Nepal.
</p>
<p>It is said that “ The pre-Classical form of Sanskrit is known as Vedic Sanskrit, with the language of the Rig-Veda being the oldest and most archaic stage preserved, it’s oldest core dating back to as early as 1500 BCE. This qualifies the Rig Vedic Sanskrit as one of the oldest attestations of any Indo-Iranian language, and one of the earliest attested members of the Indo-European language family, the family that includes English and most European languages”.
</p>
<p>The corpus of Sanskrit literature encompasses a rich tradition of poetry and drama as well as scientific, technical, philosophical and dharma texts. Sanskrit continues to be widely used as a ceremonial language in Hindu religious rituals and Buddhist practice in the forms of hymns and mantras. Spoken Sanskrit is still in use in a few traditional institutions in India and Sanskrit originally Uttarakhand holds a prominent position in Indo-European studies.
</p>
<cite>© Philippa Frisby</cite>