<img class="section_hero" src="images/Philippa_pics/SECTION_HEROES/SwatchaGanga.jpg" width="700" height="313" />
<h2>Swatcha Ganga</h2>

<p>The films I am showing entitled The Priest Scientist and The River and The River are all about the River Ganges and the work of one individual and his efforts to bring the world's attention to the plight of this holy river. The River Ganges is one of the greatest rivers in the world revered by ……. Over a third of the population of India resides in the Ganga basin. The river provides water for irrigation drinking industry power plants and is an important means of navigation. It rises in the Himalayas where it is known as Bhagirathi then the river cuts through the Himalayas meets another stream called the Alaknanda at Devprayag and from there on becomes known as the Ganga. It flows from the source to the sea at Sundarbans. All along the river the Ganga encounters different dangers which threaten her survival . From illegal mining, climate change, ill-planned dams, untreated sewage in form of tanneries domestic sewage, ill functioning sewage treatment plants , cremations, animal extinction 
</p>

<p>Backround on River<br />
Professor Veer Bhadra Mishra<br />
Varanasi<br />
Swatcha Ganga<br />
History of where it is today<br />
Donations</p>

<p>The Swatcha Ganga Abhiyan (Clean Ganges Campaign) is an initiative of the the Sankat Mochen Foundation a non-profit non- political  non-governmental organisation devoted to cleaning the pollution of the Ganges and protecting the Ganges in India. The vision of the Swatcha Ganga Abhiyan is to 
</p>
<p><ol>
<li>Restore the Ganges by alleviating the fast deterioration environmental conditions</li>
<li>Promote education and health care programs for the less privileged.</li>
<li>Maintain and encourage the age-old cultural traditions of Varanasi in tune with its current environmental needs.</li>
<li>Propogate literature of Swami Tulsidas Ji</li>
</ol></p>

<p> It was founded in1982 by a group of citizens and engineers of Varanasi (one of the oldest living cities in the world and known as the religious and cultural capital of India)  and is spearheaded by Professor Veer Bhadra Mishra a former Professor of Hydraulic Engineering at Banaras Hinu University and prominent spiritual leader Mahant of the Sankat Mochen Temple one of the most important temples in India. In 1992 Professor Veer Bhadra Mishra was awarded Global 500 roll of honour by UNEP (United Nations Enviroment Programme )  in 1992 at UNCED in Rio and in 2000 was recognised by Time Magazine as a "Hero of the Planet" . These heroes are selected for their pioneering work in protecting the fresh waterways of the earth. Professor Veer Bhadra Mishra has combined his skill and influence as an engineer with his devotion as a Priest to cleanse the holy water of the Ganga. 
</p>
<p>The Swatcha Ganga Abhiyan brings together science,education,technology, culture, tradition, people's participation and local government. The Swatcha Ganga has an environmental education centre in Varanasi which runs environmental education courses with schools,local villages, pilgrims and boatmen. 
</p>
<p>Since it's inception in 1982 the Swatcha Ganga Abhiyan has made the following achievements.
</p>
<p>Brought the issues of Ganga to national and international attention.
</p>
<p>Catalyzed the development of the Ganga Action Plan and held the government accountable for works carried out and claims made under the GAP.
</p>
<p>Mobilised the love and commitment of the people for the river; mobilised V</p>
<cite>© Philippa Frisby</cite>