<img class="section_hero" src="images/Philippa_pics/SECTION_HEROES/Articles/art5.jpg" width="700" height="313" />
<h2>Ruminations or musings on Tadasana and Sirsasana</h2>

<p>In Class recently, my teacher posed the question, for the class to think of postures that fit perfectly together. </p> 
<p>I thought of Tadasana and Sirsasana and how much these two poses encapsulate the essence of yoga.</p>
<p>Yoga teaches us balance, centring, groundedness and unshakeableness. Much like the strength of a mountain, practising Tadasana enables us to learn these elements of life and to carry them into our individual lives. 
</p>
<p>In life we can all be balanced, unswerving and grounded in the face of our challenges as well as our joys. So when we feel our world is turned upside down, which is literally what Sirsasana means, and we move against gravity, the strengths and composture that we learn in Tadasana and Sirsasana enable us, and equip us, to cope with life. 
</p>
<p><h3>Tadasana and Sirsasana can therefore be seen as a metaphor for life.</h3></p>
<p>When we turn upside down we have the choice to learn balance, and it is possible. When life throws us challenges and obstacles, it is also possible to find balance in uncertainty, and to see uniformity in chaos. It becomes a choice as to how we deal with our challenges in life and wonderfully Yoga teaches us the exact equipoise needed. 
</p>
<p>Tada means mountain, Sana means upright, straight, unmoved.
</p>
<p>Tadasana means a pose where one stands firm and unwaveringly strong. Just as a mountain shows us, we too can gather this strength from within during the pose, which we are able to take with us into our day. 
</p>
<p><h3>The first thing we learn in Yoga is the Art of Standing.</h3>
</p>
<p>This seemingly simple pose, which requires one to stand straight and stand tall, is difficult to master. It means striving towards the perfect posture where we are aware in all aspects of our being when standing still. All of our self (e.g. bones, muscles and cells, as well as our heart and spirit) are engaged in alignment in perfect harmony and we feel free. When we practice Tadasana, we notice a freedom in the body which brings a certain freedom in the mind. Everything we learn in Tadasana is applied in all the other asanas. 
</p>
<p>Sirsasana Sirsa means head. This is the headstand pose one of the most important yogic asanas. Its mastery gives one balance and poise, both physically and mentally. It is said in Light on Yoga that ‘Regular and precise practise of Sirsasana develops the body, disciplines the mind and widens the horizons of the spirit. One becomes balanced and self-reliant in pain and pleasure, loss and gain, shame and fame and defeat and victory’. 
</p>
<p><h3>In order to learn Sirsasana we have to first master Tadasana. </h3>
</p>
<p>Sirsasana is Tadasana on your head. The actions in the pose are essentially the same. Everything we learn in Tadasana, the art of standing, we apply to Sirsasana, the art of standing on our head. We can retain stability, strength, groundedness, firmness, stillness, calmness and clarity when we turn upside down. These two poses teach us and guide us in our lives.
</p> 
<cite>© Philippa Frisby</cite>
