<img class="section_hero" src="images/Philippa_pics/SECTION_HEROES/Articles/art2.jpg" width="700" height="313" />

<h2>The Spine</h2>
<p>My next two pieces are about the spine. In yoga your age is determined by the health of the spine as the spine is linked to the nervous system and the back of the body controls the front of the body. ‘A healthy spine is the fount of youth.’ Mira Mehta. Preserving the health and cohesion of the spine is a central concern of yoga which is addressed on many different levels. In this first article i am concerned with the function and structure of the spine and in the next article the esoteric aspects hidden within the spine.
</p>
<p>BKS Iyengar says ‘In India the spinal column is compared to the veena (lute) and to Meru, the central point of the river of energy, originating from the spine. Like a lute or a violin, the spine has 33 vertebrae or knobs, as well as nerves, which can be tuned through yoga like strings to produce the sound or vibration of health, happiness, harmony and rhythm.’
</p>
<p>The function of the spine is to support the head and the weight of the human body. It is artfully constructed in such a way to provide perfect balance so it can adapt to the stresses and strains imposed  by gravity and to allow maximum  movement ; forwards and sideways,  to extend and to rotate. The spine is balanced on a pelvic base known as the pelvic ring or pelvic girdle. This connects the upper body to the legs. It consists of the sacrum at the back and two hip bones connected to the femurs (thigh bones). 
</p>
<p>The spine is also known as the spinal or vertebral column which is composed of 33 bones . The vertebral column also has an important protective function housing deep within it a central tunnel the spinal chord. The spinal chord is the origin of the nerve roots which supply the muscle with information through small openings within the vertebrae.
</p>
<p>There are 5 main parts to the spine.</p>
<p><ul>
<li>Cervical: location neck 7 cervical vertebrae C1 – C 7 these are the smallest vertebrae on the vertebral column.</li>
		<li>Thoracic: location mid back 12 thoracic vertebrae T1 – T12 which  articulate with 12 pairs or ribs.</li>
		<li>Lumbar: location lower spine 5 lumbar vertebrae L 1 – L5 substantial weight bearing vertebrae with restricted mobility.</li>
		<li>Sacrum:  location between hip bones 5 fused vertebrae which form a triangular shaped bone the sacrum. The sacrum is part of the pelvic ring and located between the two ilia.</li>
		<li>Coccyx: location end of sacrum this has 2 – 4 fused vertebrae and is triangular in shape like a tail known as the tailbone.</li>

</ul></p>
<cite>© Philippa Frisby</cite>