<img class="section_hero" src="images/Philippa_pics/SECTION_HEROES/Articles/art7.jpg" width="700" height="313" />
<h2>Tirumalai Krishnamacharya</h2>

<p>Krishnamacharya is said to be the Father of Modern Yoga as he is widely regarded as one of the most influential yoga teachers of the 20th century and is credited with the revival of Hatha Yoga. If you go to a yoga class today the lineage of teaching in whatever style you choose will almost certainly trace back to Krishnamacharya. He taught many of yoga’s most renowned teachers his son Desikachar, Indra Devi his brother-in-law B.K.S Iyengar, Pattabhi Jois, A.G.Mohan to name a few.
</p>
<p>Sri Tirumalai Krishnamacharya was born on November 18th 1888 in Karnataka state in India to an orthodox family. His father was a well-known teacher of the Vedas and he was the eldest of 6 children. Aged 6 he underwent upanayana or the  “sacred thread” ceremony. This is a Hindu ritual of initiation which marks the male child’s entrance upon the life of a student (brahmacarin) and his acceptance as a full member of his religious community. His father began teaching him how to be conversant in Sanskrit as well as teaching him yoga from this early age. 
</p>
<p>Krishnamacharya was 10 years old when his father died and his family moved to Mysore in Karnataka. Krishnamacharya continued his religious and scholarly studies at a Sanskrit college where he learnt the art of debating. It was here in Mysore that he had a strange dream aged 16 in which the legendary yogi Sri Vaishnava Saint Nathamuni told him to go to the town of Alvar Tirungari in Tamil Nadu. Krishnamacharya duly travelled to this place and upon arrival fell into a trance where he found himself in the presence of 3 sages . He asked them to teach him the Yoga Rahasya a famous long lost treatise by Nathamuni. One of the sages was Nathamuni himself and he started reciting the text. When Krishnamacharya finally awoke from this dream he could recite every single verse of this legendary lost text. 
</p>
<p>Most of Krishnamacharya’s youth was spent travelling through India studying the six darsanas or Indian Philosophies. In 1906 at the age of 18 Krishnamacharya left Mysore to go to the University of Benares. Here he focused on logic and Sanskrit and worked with the greatest grammarian of the age. Between 1906 and 1914 he spent time studying in Benares and Mysore learning music and getting a scholarship to study Ayurveda. He studied languages, scriptures, theological commentaries, logic, law and music among other things. He received the equivalent of 7 PHD s in his lifetime. The majority of his learning was through the oral tradition and he had a phenomenal memory right up until his death. 
</p>
<p>One must not forget that although immersed in scholarly and religious studies, he continued to practise yoga with many renowned teachers even after his father died. He passed the Sankhya Yoga Examination of Patna and started to teach yoga. In his holidays he would take pilgrimages to the Himalayas. He resolved at this time to find Yogeshwara Ramamohan Brahmachari a yoga teacher rumoured to live in the mountains beyond Nepal.  One of his pupils Lord Irwin Viceroy of India who turned to yoga to treat his diabetes financially supported his travel to Tibet in 1919 in search of this great teacher. Krishnamacharya walked for nearly 3 months in search of   Sri Brahmachari’s school, which was a cave at the foot of Mount Kailash. 
</p>
<p>Krishnamacharya spent seven and half years studying with Brahmachari. Under Brahmachari’s guidance Krishnamacharya studied the yoga Sutras of Patanjali and copious asana and pranayama and the therapeutic aspects of yoga. In keeping with tradition of teacher and pupil relationship Krishnamacharya asked what his payment would be and Brahmachari responded that Krishnamacharya was to “take a wife, raise children and be a teacher of Yoga”. 
</p>
<p>He returned to Varanasi after Tibet and was widely venerated. Krishnamacharya married BKS Iyengar’s sister Namagiriammal in 1925. A Maharaja of Mysore (Krishna Raja Wadiyar iv) was in Varanasi to celebrate his birthday and he met Krishnamacharya. Krishna Raja Wadiyar IV was already looking to yoga to cure his ailments and he was impressed by Krishnamacharya and demanded that he open a yoga school (Yogashala) in Mysore. Krishnamacharya was given the wing of a nearby palace as his premises. From 1925 to 1955 Krishnamacharya was able to run his Yogashala and write many books. 
</p>
<p>During his time many of Krishnamacharya’s students were young boys who were physically very active and athletic so he developed a style specifically for them which is now know as Astana (Vinyasa) .He became advisor to the Maharaja and ever more renowned as a Yoga Teacher and healer.  When the Maharaja died and his nephew took on the mantle the yogashala was closed and thus ended the patronage for Krishnamacharya.  He then moved to Bangalore and finally Chennai. In Chennai  he continued being sought after for yoga and healing. Aged 96 he fractured his hip slipping on a stone but continued to teach and heal when he could. He died aged 100 in 1989.
</p>
<p>Krishnamacharya believed Yoga to be India’s gift to the world. He laid emphasis in Yoga on physical healing as nobody can grow spiritually if they are in discomfort. He realised that every individual is unique and yoga must teach according to individual so it will mean different things for different people. He was considered a yoga teacher a physician of Ayurveda and possessed enormous knowledge of nutrition herbal medicine oils and remedies. 
</p>
<p>He approached an individuals problem with examination of pulse colour of skin listen to quality of breath among other things. He would also look during time of diagnosis at what upset or hindered the harmonious union of the body mind and spirit even though a disease is focused in a particular area he knew it would affect other systems in the body both mental and physical. He felt healing relationship could only begin if person could trust him fully. 
</p>
<p>When a person went to see Krishnamacharya he would work with him on diet creating herbal medicines and setting up yoga postures. He stressed importance of breath work and postures and meditation. 
</p>
<p>Krishna taught Yoga to people of all religions and took time to understand the religion and culture of people he taught.
</p>
<p>Although Krishnamacharya has influenced yoga throughout the world he never left his native India over the course of his life. He stressed the most important yoga texts were Yoga Sutras of Patanjali Yoga Rahasya and the Bhagavad-Gita. His greatest strength was the ability to take the ancient teaching of yoga and Indian philosophy and combine them within a modern day framework.
</p>
<p>In my next article for the Psychic Week I will look at  Krishnamacharya’s contribution to yoga, how he defined it , what it meant to him and how he worked and how this has directly  shaped the teaching we experience today.
</p>  
 
<cite>© Philippa Frisby</cite>
