<img class="section_hero" src="images/hero1.jpg" width="700" height="313" />
<h2>The Ganges</h2>
<p>The films I am showing  entitled The Priest Scientist and The River and The River are all about the Ganges and the work of one individual and his efforts to bring the world’s attention to the terrible pollution afflicting this holy river.
</p>
<p> The Ganges is one of the greatest rivers in the world and has one of the most fertile and densely populated river basins in the world with over 400 million people living there.  It is the most sacred river to Hindus and a lifeline to millions of Indians who live along its course and depend upon it for their daily needs. Over a third of the population of India resides in the basin. The river provides water for irrigation, drinking, industry and power plants. The river is an important means of navigation as well as being the lifeline of Indian Culture.
</p>
<p>The Ganges begins at the confluence of the Bhagirathi and Alaknanda rivers.  It flows 1557 miles (2510km) from Gaumukh at the foot of the Gangotri glacier to the Bay of Bengal near Sagar Island. The Ganges was ranked among the top five most polluted rivers of the world in 2007 with fecal coli form levels in the river near Varanasi more than a hundred times the official Indian Government limits. Pollution threatens humans but also more than 140 fish species, 90 amphibian species and the endangered Ganges river dolphin.  All along the river the people encounter different dangers, which threaten their survival. From illegal mining, dams, industrial waste , domestic sewage, sewage treatment plants and half burned  and uncremated bodies, Many poor people rely on the river on a daily basis for bathing , washing and cooking .
</p>
<p>The Swatcha Ganga Abhiyan (Clean Ganges Campaign) is an initiative of the Sankat Mochen Foundation, a non-profit, non- political organisation devoted to cleaning the pollution of the Ganges and protecting the Ganges in India.
</p>
<p>It was founded in 1982 by a group of citizens and engineers of Varanasi (one of the oldest living cities in the world and known as the religious and cultural capital of India) and is spearheaded by Professor Veer Bhadra Mishra a former Professor of Hydraulic Engineering at Banaras Hindu University and prominent spiritual leader Mahant of the Sankat Mochen Temple, one of the most important temples in India.
</p>
<p>Professor Veer Bhadra Mishra has combined his skill and influence as an engineer with his devotion as a Priest to cleanse the holy water of the Ganga.
</p>
<p> In 1992 Professor Veer Bhadra Mishra was placed on Global 500 roll of honour by UNEP (United Nations Environment Programme) in 1992 at UNCED in Rio and in 2000 was recognised by Time Magazine as a “Hero of the Planet”, These heroes are selected for their pioneering work in protecting the fresh waterways of the earth.
</p>
<p>The vision of the Swatcha Ganga Abhiyan is to 
<ul>
	<li>To restore the Ganges to her natural state by tackling the environmental issues confronting her.</li>
	<li>Promote education and health care programs for the less privileged.</li>
	<li>Maintain and encourage the age-old cultural traditions of Varanasi in tune with its current environmental needs.</li>
	<li>To propagate the literature of Tulsidas a Hindu poet-saint, reformer and philospher who is best known for being the author of the epic Ramcharitmanas a retelling of the Sanskrit Ramayana in the vernacular Awadhi, which is a popular Hindu scripture often referred to as the Bible of the North India.</li>
 </ul>
</p>
<p> The Swatcha Ganga Abhiyan brings together science, education, technology, culture, tradition, people’s participation and local government. It has an environmental education centre in Varanasi, which runs environmental education courses with schools, local villages, pilgrims and boatmen. 
</p>
<p>Since it’s inception in 1982 the Swatcha Ganga Abhiyan has registered the following achievements. It has succeeded in bringing the issues of the Ganga to national and international attention and as a direct result of that catalyzed the development of the Ganga Action Plan, a program launched by Rajiv Gandhi in 1985 in order to reduce the pollution load on the river. Although the Ganga Action plan failed the Swatcha Ganga Abhiyan has continued tirelessly to hold the government accountable for works carried out and claims made under the Ganga Action Plan.  Professor Veer Bhadra Mishra has mobilized the love and commitment of the people for the river through his respected and devoted position as Mahant of the Sankat Mochen Temple and mobilised local governments regarding their responsibilities and rights for water management under the Indian Constitution.
</p>
<p>The Swatcha Ganga team have established clean water supplies for villages severely affected by sewage pollution and worked at cleaning the 7km stretch of waterfront along the bathing ghats. They have conducted regular community events, forums and programs that engage the youth and local community.
</p>
<p>Through painstaking meticulous work the Swatcha Ganga team have researched and designed an appropriate sewage management system including the innovative sewage treatment technology Advanced Integrated Wastewater Pond System (AIWPS) for Varanasi. This system combines a non-electrical watertight inception and diversion and an engineered natural system for treatment of sewage. It was developed by Professor Oswald and Dr Bailey Green at the University of California, Berkeley and is based upon a natural process of treatment using algae and sunlight. In 2008 the Government of India decided to support the Swatcha Ganga’s proposal for prevention of pollution in the river Ganga at Varanasi. They are now waiting for green light for go ahead to start building their design and if successful it could be used in rivers throughout the world.
</p>
<cite>© Philippa Frisby</cite>