<video id="pc1" class="section_hero video-js vjs-default-skin" controls
 preload="auto" width="700" height="394" poster="movies/ThePriestScientist-Film1.jpg"
 data-setup="{}">
 <source src="movies/ThePriestScientist-Film1.mp4" type='video/mp4'>
</video>
<h2>The Priest Scientist and the Holy River</h2>

<p>It is dawn in Varanasi and Professor Veer Bhadra Mishra a 72 year old Brahmin, makes his way down the steep steps of his temple to the banks of the Ganges to take his holy dip. This is a ritual he has undertaken since inheriting the sacred thread ( an ancient ritual of social and spiritual significance still performed in orthodox brahmin famillies involving a cord of three threads hung over the right shoulder and under the left arm which is worn forever ) at the age of 11. He hesitates before entering the holy water. He then performs 5 immersions as Hindu custom demands. He can not help to think about the poor quality of this holy water. It is filled with raw sewage, human and industrial waste, charred remains of bodies and animal carcasses. All around him along a 7 km stretch of the river 60,000 other people plunge into the water seemingly unaware of her dangers, or simply believing in her power as a goddess to purify everything she touches. Women toss garlands of marigolds into the water, children splash around gleefully, saddhus salute their arms to the rising sun and the cremation fires continue to burn as they did some 3,000 years ago.
</p>
<p>I felt compelled to make a film about Professor Veer Bhadra Mishra and his relationship to India’s holiest river, the Ganges.
</p>
 
<p> As both an important religious leader (Mahant) and a Professor in Hydraulic engineering he has been battling to bring the plight of the Ganges to public attention since the Seventies. He now sees himself as responsible for saving this river and her people from pollution. Veer Bhadra Mishra is a devout Hindu and the head of one of Varanasi’s most revered temples but next door to the temple he has also built himself a laboratory where he regularly analyses the purity of the water. He looks on the Ganges as a divine being. “She is the mother whom we can touch. She is the goddess who unites the 3 gods of our faith”. However as a scientist he knows from his tests that the river is polluted. “There is a struggle and turmoil inside my heart,” Mishra says, ” I want to take a holy dip, I need it to live, but at the same time I know what is faecal coliform.”
</p>
<p>Just as India is trying to fuse ancient and modern beliefs, Professor Veer Bhadra Mishra has used these two seemingly opposed parts of his life in order to find a solution to the problem. “Life is like a stream: One bank is the Vedas and the other bank is the contemporary world, which includes science and technology. If both banks are not firm the water will scatter. If both banks are firm the river will run it’s course”.
</p>
<p>Varanasi also know as Kashi ‘City of Light’ or Benares dates back some 3,500 years and is one of the world’s oldest living cities. Situated on the North bank of the 
</p>
 
<p>Ganges river in Uttar Pradesh, it is known as the religious and cultural capital of India, a place of pilgrimage for Hindus, Buddhists and Jains alike. I first visited Varanasi in 1992 whilst working on a film which took me from Ganga Sagar in the Bay of Bengal up to Gangotri near the source of the Holy river the Ganges. We were in Varanasi to interview Professor Veer Bhadra Mishra. I was to return to Vanaransi many times and later made the film ‘The Priest Scientist and The Holy River’ about this remarkable river and the man who was trying to save it. 
</p>
<p>My film was shot on DVC camera in an observational style. It has been shot over an extended period of time, the intention was to capture spontaneity of live events and evoke a certain freshness and realism. I wanted to make it as intimate and as natural as possible and to produce something which in the words of Professor Veer Bhadra Mishra would ” inspire an audience all over the world to think about preserving this magical river”.
</p>
<p> The film is the story of an extraordinary man and the river to which he is inextricably linked.
</p>
<cite>© Philippa Frisby</cite>