<video id="pc3" class="section_hero video-js vjs-default-skin" controls
 preload="auto" width="700" height="394" poster="movies/ThePriestScientist-Film3.jpg"
 data-setup="{}">
 <source src="movies/ThePriestScientist-Film3.mp4" type='video/mp4'>
</video>
<h2>The Priest Scientist and The River 3: Goddess Mother</h2>

<p>The films I am showing  entitled The Priest Scientist and The River and The River are part of an ongoing film project all about the Ganges and the work of one individual and his efforts to bring the world’s attention to the terrible pollution afflicting this holy river. This man is called Professor Veer Bhadra Mishra. He is an important religious leader (mahant) of the Sankat Mochen temple, one of the most important temples in India and a professor in hydraulic engineering.  In his role of being a Priest and a Scientist, he personifies the dilemma facing India today: to bring herself in to the C21st, whilst preserving her ancient belief system. These seemingly paradoxical roles have directed his life in trying to save one of the greatest rivers in the world from pollution.
</p>
<p>The Ganges has one of the most fertile and densely populated river basins in the world with over 400 million people living there.  It is the most sacred river to Hindus and a lifeline to millions of Indians who live along its course and depend upon it for their daily needs. Over a third of the population of India resides in the basin. The river provides water for irrigation, drinking, industry and power plants; as well as being an important means of navigation for the people and industry alike.
</p>
<p>The aim of my films is to document life on this river in this extraordinarily beautiful part of the world, and to bring awareness to the valuable work of Professor Veer Bhadra Mishra. In so doing, I hope we can save this Holy River from pollution and thus preserve and protect this integral part of Indian culture.
</p>
<cite>© Philippa Frisby</cite>