<video id="the_river" class="section_hero video-js vjs-default-skin" controls
 preload="auto" width="700" height="394" poster="movies/The-River.jpg"
 data-setup="{}">
 <source src="movies/The-River.mp4" type='video/mp4'>
</video>
<h2>The River - a visual poem</h2>
<p>The River a short film is part of a larger film project about Professor Veer Bhadra Mishra an important religious leader (mahant) and a professor in hydraulic engineering He  personifies the dilemma facing India today the fusion of ancient and modern beliefs  in his role of being a Priest and a Scientist . These seemingly paradoxical roles have directed his life in trying to save The River Ganga  one of the greatest rivers in the world from pollution.
</p>
<p> The River was shot in 1998 on DV CAM and mini DV and the intention behind this short film was to show life on this holy river in the timeframe of a day from Sunset to Full Moon. The film starts at Sunrise with shots of the countless bathers taking their early morning dip and performing puja in Varanasi formerly known a Benares one of the holiest cieties in India on the banks of the Ganges in the state of Uttar Pradesh where Professor Veer Bhadra Mishra lives. The film then proceeds along the ghats observing people and their different interactions with the river People praying , performing their ritual oblutions, washing clothes and drying them on the ghat.children diving in. searching for cockles and mussels. It visually explores the darker side of life by the holy river where tragically due to a  burgeoning population and  an outmoded archaic sewage system domestic sewage is being poured in to the river directly where people bathe and pray.  It explores the ancient Hindu rituals surrounding death by closely observing a Cremation at the Harischandra ghat . How death cohorts with life and lives happily side by side in this ancient city. Floating garlands illustrate discarded remnants of prayer , whilst tourists observing this curious panoply of life in one of the world’s most ancient cities. Fishermen pursue their catch and life exists side by side with death . The film then goes to the Kumbha Mela in 1998 at Haridwar.
</p>
<p>Kumbha is a sanksrit word for pitcher (pot with round handles) . It is also a zodiac sighn in Indian astrology for Aquarius the sign under which the festival is celebrated while Mela means gathering.
</p>
<p>The Kumbha Mela is the most sacred of all pilgrimages in which Hindus gather at the Ganges take a dip in the holy Ganges river during this deeply auspicious time. The Rig Veda the oldest religious text in the world and Puranas (religious texts ) make reference to it and Buddha speaks of it as a river festival. According to puranas the devas (gods ) and asuras (demons) decided to churn the ocean.  Many things emerged from the ocean. Eventually Amrit the nectar of immortality poured out but with it a deadly poison . Neither the gods nor the devils knew how to be rid of the poison which was strong enough to destroy the universe. The gods and demons went to Lord Shiva for advice . Shiva took the poison and drank it . By his yogic power he held the poison in his Vishuddi chakra and purified it there. The poison did not affect him only his throat became dark blue.
</p>
<p>When the Kumbh vessel of nectar emerged from the ocean both gods and demons rushed to take it. God Indra told his son Jayant to run away with the vessel. The demons chased him and in the fight that followed a few drops of nectar fell at, Haridwar,  Allahabad, Ujjain and Nasik . The fight continued for twelve days and one day in the life of the gods equals one year in the life of man so the Kumbha Mela is held at Haridwar, Allahabad, Ujjain and Naski every 12th year.
</p>
<p>Therefore a Kumbha Mela is celebrated at Haridwar when the sun is in Aries and Jupiter in Aquarius. The Kumbha Mela was at Haridwar in 1998 which is where I went to film this extraordinary spectacle. In 1998 the Kumbha Mela saw over 10 million pilgrims visiting Haridwar to take a dip in the holy Ganges river. The major event of the festial I the ritual bathing on the banks of the river. Other activities include religious discussions, devotional singing. Thousands of holy men and women attend. The Sadhus are seen clad in saffron sheets with ashes and powder dabbed on their skin. Some called naga sanyasis do not wear any clothes at all even in severe winter.
</p>
<p>In my short film I show the great crowds gathering for this religious festival and film the Saffron clad Saddhus and Naked Sannyasins the people gathering to practise arthi and bathe in the light of the full moon. The crescendo rising anticipation of the crowd as they perform arthi by the fast flowing river under the full moon.
</p>
<cite>© Philippa Frisby</cite>